@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f875aa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #f875aa;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-style: italic;
}

.TodoWrapper {
  background: #ffdfdf;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 40px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  border: 1px solid #f875aa;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 300px;
  color: #000;
}

.todo-input::placeholder {
  color: #000;
}

.todo-btn {
  background: #f875aa;
  color: #ffdfdf;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f875aa;
  color: #ffdfdf;
  padding: 0.75rem 1rem;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff6f6;
  cursor: pointer;
}

.completed {
  color: #ffdfdf;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
